.header {
    height: 10rem;
    background-color: aqua;
}

.hidden {
    display: none;
}


form {
    padding: 5rem;
}

.form-group, label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-group, input {
    width: 20rem;
    padding: .5rem;
    margin-bottom: .3rem;
}

input.invalid {
    border: .2rem solid red;
}

.error-hint {
    color: red;
}

button {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(133, 226, 195);
    color: rgb(8, 46, 46);
    border-radius: .5rem;
    border-color: rgb(77, 77, 110);
    transition: all .8s;
    cursor:help;
}

button:hover {
    background-color: rgb(8, 46, 46);
    color: rgb(133, 226, 195);
}
