#container {
    width: 90%;
    margin: 5rem auto;
}

.borderFlash {
    border: solid red 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-transform: uppercase;
    font-size: 2.75rem;
    letter-spacing: 10px;
}

.header p {
    color: rgb(102, 23, 175);
    text-transform: uppercase;
    font-weight: 600;
}

.hidden {
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 2rem;
}

.form-group {
    margin: 1rem;
    padding: 1rem;
}

.form-group, label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-group, input {
    width: 10rem;
    padding: .5rem;
    margin-bottom: .3rem;
}

input.invalid {
    border: .2rem solid red;
}

.error-hint {
    color: red;
}

button {
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: rgb(133, 226, 195);
    color: rgb(8, 46, 46);
    border-radius: .5rem;
    border-color: rgb(77, 77, 110);
    transition: all .8s;
    cursor: help;
}

button:hover {
    background-color: rgb(8, 46, 46);
    color: rgb(133, 226, 195);
}
