
/* Index- Welcome */

#indexBg {
    background-image: -webkit-linear-gradient(rgba(14, 45, 66, 0.2), rgba(53, 68, 61, 0.2)), url('../img/beach_02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

#indexChair {
    position: absolute;
    bottom: 5;
    right: 5;
    width: 20rem;
    height: 20rem;
}

#indexLamp {
    position: absolute;
    bottom: -50;
    left: 5;
}

#indexTable {
    position: absolute;
    bottom: 20;
    right: 3;
    width: 11rem;
    height: 11rem;
}

#indexClock {
    position: absolute;
    bottom: 145;
    right: 40;
    width: 3rem;
    height: 3rem;
}

#indexCalen {
    position: absolute;
    bottom: 400;
    right: 170;
    width: 7rem;
    height: 7rem;
}

/* bathroom.php */

#bathroomBg {
    background-image: -webkit-linear-gradient(rgba(78, 173, 236, 0.2), rgba(48, 177, 117, 0.2)), url('../img/bathroom_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

#indexToilet {
    position: absolute;
    bottom: 30;
    left: 5;
    width: 30rem;
    height: 30rem;
}

#indexTp {
    position: absolute;
    bottom: 320;
    left: 520;
    width: 6.5rem;
    height: 6.5rem;
}

#indexRug {
    position: absolute;
    bottom: 5;
    left: 520;
    width: 30rem;
    height: 10rem;
}

#indexMirror {
    position: absolute;
    bottom: 400;
    right: 300;
    width: 20rem;
    height: 20rem;
}
