/* Index- Welcome */

.indexBgNight {
    background-image: -webkit-linear-gradient(rgba(14, 45, 66, 0.2), rgba(53, 68, 61, 0.2)), url('../img/beach_02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.indexBgDay {
    background-image: -webkit-linear-gradient(rgba(14, 77, 119, 0.2), rgba(125, 155, 141, 0.2)), url('../img/beach_day_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

#indexChair {
    position: absolute;
    bottom: 5;
    right: 5;
    width: 20rem;
    height: 20rem;
}

#indexLamp {
    position: absolute;
    bottom: -50;
    left: 5;
}

#indexKnobNight {
    position: absolute;
    bottom: 300;
    left: 350;
    height: 3rem;
    width: 3rem;
}

#indexKnobDay {
    position: absolute;
    bottom: 300;
    right: 350;
    height: 3rem;
    width: 3rem;
}

#indexTable {
    position: absolute;
    bottom: 20;
    right: 3;
    width: 11rem;
    height: 11rem;
}

#indexClock {
    position: absolute;
    bottom: 145;
    right: 40;
    width: 3rem;
    height: 3rem;
}

#indexCalen {
    position: absolute;
    bottom: 400;
    right: 170;
    width: 7rem;
    height: 7rem;
}

/* bathroom.php */

#bathroomBg {
    background-image: -webkit-linear-gradient(rgba(78, 173, 236, 0.2), rgba(48, 177, 117, 0.2)), url('../img/bathroom_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

#bathroomToilet {
    position: absolute;
    bottom: 30;
    left: 5;
    width: 30rem;
    height: 30rem;
}

#bathroomTp {
    position: absolute;
    bottom: 320;
    left: 520;
    width: 6.5rem;
    height: 6.5rem;
}

#bathroomRug {
    position: absolute;
    bottom: 5;
    left: 520;
    width: 30rem;
    height: 10rem;
}

#bathroomMirror {
    position: absolute;
    bottom: 400;
    right: 300;
    width: 20rem;
    height: 20rem;
}

#bathroomKnob {
    position: absolute;
    bottom: 300;
    right: 350;
    height: 3rem;
    width: 3rem;
}

/* Bedroom */

#bedroomBg {
    background: linear-gradient(to bottom, rgb(167, 107, 142), rgb(65, 4, 83));
    height: 100%;
    position: relative;
}

#bedroomBag {
    position: absolute;
    bottom: 10;
    right: 30%;
    width: 40rem;
    height: 40rem;
    z-index: 100;
}



#bedroomDiary {
    position: absolute;
    bottom: 20;
    left: 20;
    width: 30rem;
    height: 30rem;
    z-index: 50;
}

#diary {
    display: none;
    position: absolute;
    background-color: aqua;
    padding: 2rem;
    border: 1rem solid blue;
    border-style: groove;
    width: fit-content;
    height: fit-content;
    top: 10rem;
    right: 50%;
    z-index: 200;
}

#bedroomRug {
    position: relative;
    right: 10;
    z-index: 1;
}

#bedroomMask {
    display: none;
    position: absolute;
    bottom: 20;
    right: 20;
    width: 10rem;
    height: 10rem;
    z-index: 60;
}

#bedroomClock {
    position: absolute;
    bottom: 145;
    right: 40;
    width: 10rem;
    height: 10rem;
}

/* Kitchen */

#kitchenBg {
    background-image: -webkit-linear-gradient(rgba(182, 181, 108, 0.2), rgba(95, 79, 35, 0.2)), url('../img/kitchen_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

#kitchenFridge {
    position: absolute;
    bottom: 20;
    right: 30%;
    width: 40rem;
    height: 40rem;
}

#Blinds {
    position: absolute;
    bottom: 345;
    right: 30;
    width: 30rem;
    height: 30rem;
}

#blinds02 {
    display: none;
    position: absolute;
    bottom: 345;
    right: 30;
    width: 30rem;
    height: 30rem;
}

#fridgeFront {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: red 10px 15px;
    border: solid 5px rebeccapurple;
}

#fridgePostIt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#diaryPages  {
    position: absolute;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 20rem;
    height: 20rem;
}

.fridgeDisplay {
    display: none;
}

/* Yard */

#yardBg {
    background-image: -webkit-linear-gradient(rgba(255, 223, 134, 0.2), rgba(144, 241, 124, 0.2)), url('../img/yard_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

#yardFlamingo {
    position: absolute;
    bottom: 20;
    right: 650;
    width: 15rem;
    height: 15rem;
}

#yardMail {
    position: absolute;
    bottom: 400;
    right: 150;
    width: 10rem;
    height: 10rem;
}

#yardMallet {
    position: absolute;
    bottom: -50;
    left: 100;
    width: 20rem;
    height: 20rem;
}

#yardBird {
    display: none;
    position: absolute;
    top: 10;
    left: 700;
    width: 20rem;
    height: 20rem;
}
